@use "@a/styles/base" as *;

:global(.menu-opened) .h {
  color: white;
}

.h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px 0;
  position: relative;
  z-index: 9999;
}

.logo span {
  font-size: 16px;
  font-weight: 500;
}

.h nav {
  display: none;
  font-size: 16px;
  @media (--lg) {
    display: flex;
    gap: 40px;
  }
}

.h button {
  display: none;
  font-size: 14rem;
  @media (--lg) {
    display: block;
  }
}

.menu {
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  @media (--lg) {
    display: none;
  }
}
