@use "@a/styles/base" as *;
//
.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16rem;
    border-bottom: 1px solid black;
    padding-block: 24rem;
    &:first-of-type {
        border-top: 1px solid black;
    }

    @media (--md) {
        grid-template-columns: repeat(9, 1fr);
    }
}

.service > div {
    display: flex;
    gap: 8rem;
    grid-area: 1/1/1/3;
    font-size: $fs2;
    @media (--md) {
        grid-column: 1/6;
        display: grid;
        gap: 20rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

.title_w {
    display: flex;
    @media (--md) {
        grid-column: 2/6;
    }
}
.title_w h3 {
    font-size: $fs2;
    @media (--md) {
        margin-left: 16rem;
    }
}

.service:hover .img-c {
    // width: auto;
    width: 200rem;
}

.img-c {
    // aspect-ratio: 16/9;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
    position: relative;
}
.img-c img {
    width: 200rem;
    position: absolute;
}

.service ul {
    grid-area: 1/3/1/5;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    @media (--md) {
        grid-column: 7/10;
    }
}

.service li {
    font-size: $fs1;
    line-height: 100%;
    height: 16rem;
    white-space: nowrap;
}
