@use "@a/styles/base" as *;
//
.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    border-bottom: 1px solid black;
    padding-block: 24px;
    &:first-of-type {
        border-top: 1px solid black;
    }
}

.service > div {
    display: flex;
    gap: 8px;
    grid-area: 1/1/1/3;
    font-size: $fs2;
}

.service h3 {
    font-size: $fs2;
}

.service ul {
    grid-area: 1/3/1/5;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.service li {
    font-size: $fs1;
}
