@use "@a/styles/base" as *;

.p {
    padding-inline: 20rem;
}
.p h1 {
    font-size: $fs4;
    text-align: center;
    text-transform: uppercase;
}

.thumbnail {
    margin-top: 80rem;
    width: 100%;
}

.info {
    margin-top: 48rem;
    display: flex;
    flex-direction: column;
    gap: 32rem;
    font-size: $fs2;
    @media (--md) {
        flex-direction: row;
        gap: 20rem;
    }
}

.info_g {
    display: flex;
    flex-direction: column;
    gap: 32rem;

    @media (--md) {
        width: 50%;
        flex-direction: row;
        gap: 80rem;
    }
}

.intro {
    @media (--md) {
        width: 50%;
    }
}

.info_item {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.info_item h3 {
    font-size: $fs2;
    opacity: 0.7;
}
.info_text {
    line-height: 160%;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
}
.services li {
    padding-inline: 8rem;
    border-left: 1px solid black;
    &:first-child {
        padding-left: 0px;
        border-left: none;
    }
}

.collage {
    margin-top: 48rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 20rem;
    @media (--md) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    &:nth-of-type(4) {
        grid-column: span 2;
    }
}

.images {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}
