@use "@a/styles/base" as *;

.p {
    padding-inline: $p-i;
}

.p h1 {
    font-size: $fs4;
}

.projects {
    margin-top: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40rem;
    @media (--md) {
        margin-top: 100rem;
        grid-template-columns: 1fr 1fr;
        row-gap: 80rem;
    }
}
