//
:root {
    --fs1: 12rem;
    --fs2: 16rem;
    --fs3: 20rem;
    --fs4: 32rem;
    --padding-x: 20rem;
    @media (--md) {
        --fs1: 16rem;
        --fs2: 24rem;
        --fs3: 32rem;
        --fs4: 78rem;
        --padding-x: 40rem;
    }
}

.h {
    display: none !important;
}
.d-o {
    @media (--sm) {
        display: none !important;
    }
}
.m-o {
    @media (--md) {
        display: none !important;
    }
}

.p-w {
    padding-top: 80rem;
    background-color: $ofw;
    position: relative;
    z-index: 2;
    @media (--md) {
        padding-top: 100rem;
    }
}

.f_w {
    position: relative;
    z-index: 1;
    margin-top: -100vh;
}
.s {
    height: 100vh;
}
footer {
    position: sticky;
    bottom: 0;
}

.menu-opened {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

button {
    background-color: $green;
    @media (cursor: fine) {
        background-color: transparent;
    }
}

.link {
    font-size: inherit;
}

.link > div {
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
}

.link > div:after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    left: -102%;
    bottom: 1px;
    transition: all 0.3s ease-out;
}

.link:hover div:after {
    left: 0;
}

// BUTTON
.btn {
    padding: 8rem 24rem;
    border: 1px solid black;
    border-radius: 100rem;
    font-size: 12rem;
    line-height: 100%;
    font-weight: 500;
    &:hover {
        border-color: $green;
        background-color: $green;
    }
}
