@use "@a/styles/base" as *;

.proj {
  display: block;
}
.proj:hover .img-w {
  @media (--md) and (pointer: fine) {
    width: 600rem;
  }
}
.proj:hover .info {
  transition: opacity 0.3s linear;
  opacity: 1;
}

.img-w {
  width: 240rem;
  aspect-ratio: 3/4;
  transition: all 0.4s ease-in-out;
  @media (--md) {
    width: 300rem;
    height: 400rem;
  }
}
.img-w img {
  height: 100%;
}

:global(.swiper-slide-active) .info {
  opacity: 1;
  @media (--md) {
    opacity: 0;
  }
}

.info {
  opacity: 0;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.3s linear;
}
.info h3 {
  font-size: 16rem;
  text-transform: capitalize;
}
.info span {
  font-size: $fs1;
}
