@use "@a/styles/base" as *;

.location {
    display: flex;
    gap: 8px;
}
.location span {
    text-transform: uppercase;
    font-size: $fs2;
    font-weight: 500;
}

.location svg {
    width: 14px;
    aspect-ratio: 1;
    transition: all 0.3s linear;
    @media (--md) {
        display: none;
    }
}
:global(.active) .location svg {
    transform: rotate(180deg);
}

.email {
    font-size: $fs2;
    margin-left: calc(14px + 8px);
    margin-top: 8px;
    transition: all 0.3s linear;
    max-height: 0;
    overflow: hidden;
    @media (--md) {
        transition: unset;
        max-height: unset;
        margin-left: 0;
    }
}

:global(.active) .email {
    max-height: 100px;
}
