@use "@a/styles/base" as *;

.logo {
  width: 260rem;
  margin-inline: auto;
  @media (--md) {
    width: 500rem;
  }
}

//
.s-f-projects {
  margin-top: 80rem;
  padding-inline: $p-i;
  @media (--md) {
    margin-top: 100rem;
  }
}

//
.s-intro {
  margin-top: 120rem;
  padding-inline: $p-i;
  @media (--md) {
    margin-top: 140rem;
  }
}

.s-intro h1 {
  font-size: $fs3;
  text-align: center;
  line-height: 120%;
  letter-spacing: -0.01em;
  @media (--md) {
    margin-inline: auto;
    max-width: 1030rem;
  }
}

.s-intro :global(.line) {
  overflow: hidden;
}

.vid_w {
  margin-top: 48rem;
  aspect-ratio: 16/9;
  @media (--md) {
    margin-top: 80rem;
  }
}

.s-intro img {
  margin-inline: auto;
  aspect-ratio: 16/9;
  border-radius: 8rem;
}

//
.s-services {
  margin-top: 80rem;
  padding-inline: $p-i;
  padding-top: 40rem;
  display: flex;
  flex-direction: column;
  gap: 24rem;
  @media (--md) {
    padding-top: 60rem;
    flex-direction: row;
    gap: 20rem;
  }
}
.s-services h2 {
  font-size: $fs3;
  @media (--md) {
    width: 25%;
  }
}
.s-services > div {
  @media (--md) {
    width: 75%;
  }
}
