.f {
    padding-block: 48px 24px;
    padding-inline: 20px;
}

.f > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact,
.positions {
    margin-top: 40px;
    span {
        font-size: 14px;
    }
    button {
        font-size: 12px;
        padding: 8px 24px;
        font-weight: 500;
        background-color: #cee0a6;
        border-radius: 50px;
        margin-top: 16px;
    }
}

.socials {
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}
.socials a {
    flex-basis: 50%;
    padding-inline: 16px;
    font-size: 12px;
    &:nth-child(2n - 1) {
        text-align: right;
        border-right: 1px solid black;
    }
}

.cr {
    margin-top: 24px;
    font-size: 12px;
    text-align: center;
}
