@use "@a/styles/base" as *;

//
.menu {
    width: 100%;
    height: 100dvh;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121212;
    color: white;
    z-index: 999;
    padding-inline: 20px;
    padding-block: 70px 24px;
}

.menu ul {
    margin-top: 48px;
}

.menu li {
    border-bottom: 1px solid white;
    &:first-of-type {
        border-top: 1px solid white;
    }
}

.menu ul a {
    display: block;
    font-size: $fs2;
    padding-block: 24px;
}

.menu button {
    margin-top: 80px;
    padding: 10px 24px;
    background-color: #cee0a6;
    width: 100%;
    border-radius: 200px;
    font-size: $fs1;
}

.menu_b {
    position: absolute;
    bottom: 24px;
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}
.social a {
    flex-basis: 50%;
    padding-inline: 16px;
    font-size: $fs1;
    &:nth-child(2n - 1) {
        text-align: right;
        border-right: 1px solid white;
    }
}

.cr {
    margin-top: 24px;
    font-size: $fs1;
    text-align: center;
}
